.music-item {
  width: calc((100vw - 14px * 4) / 3);
  margin: 14px;
  margin-left: 0;
  .poster {
    width: 100%;
    height: calc((100vw - 14px * 4) / 3);
  }
  .text {
    word-break:keep-all;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    font-size: 26px;
    line-height: 1.6;
  }
  .artist {
    color: #888;
    font-size: 24px;
  }
}